
.header {
    margin-top: 66px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__line{
    display: flex;
    align-items: center;
}
.header__logo {
color: #1D2830;
font-family: 'Josefin Sans', sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 24px; 
letter-spacing: -1.44px;

}
.header__logo span{
    color: #794CFF;
}

.header__menu.menu {
    margin-right: 95px;
}

.header__login-btn {
display: block;
color: #35414B;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 16px;
margin-right: 16px;
}


.header__get-started-btn {
    display:block;
    padding: 16px 23px;
    color: #794CFF;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px; 
border-radius: 4px;
background: #ECE5FF;
}

.header__auth {
    display: flex;
    align-items: center;
}

.header__menu-burger{
    display: none;
}




@media(max-width:415px){
    .header__menu-burger{
        display: block;
    }
    .header__line{
        display: none;
    }

    .header {
        margin-top: 32px;
    }
   
}